@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background: linear-gradient(135deg, #FFD8CB, #AED9E0);
            background-image: url('http://imgfz.com/i/UOnrmCs.jpeg'); /* Ruta de la imagen de fondo */
            background-size: cover;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .logo-container {
            text-align: center;
            padding: 10px;
        }

        .logo {
            width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
            height: 150px;
        }

        .card {
            background-color: rgba(173, 216, 230, 0.5); /* Color celeste claro con opacidad */
            max-width: 400px; /* Ancho máximo del cuadro de inicio de sesión */
            width: 110%;
            margin: 0 auto; /* Centra horizontalmente el cuadro de inicio de sesión */
        }

        .container {
            max-width: 900px;
            width: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px; /* Ajusta el margen superior para elevar el contenedor de inicio de sesión */
        }

        footer {
            background: linear-gradient(135deg, #7EC8E3, #3498DB); /* Degradado de celeste a un tono más fuerte */
            padding: 5px;
            text-align: center;
            margin-top: 10px; /* Espaciado superior del pie de página */
            height: 30px; /* Altura del footer */
        }
    </style>
</head>
<body>

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">

            <div class="card">
                <div class="logo-container">
                    <img class="logo" src="./imagenes/Logo clinica.png" alt="Logo">
                    <h1>VitalMed Center</h1>
                </div>
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">

                    <form asp-controller="Login" asp-action="IniciarSesion" method="post">

                        <input class="form-control mb-3" type="text" placeholder="Correo" required name="correo" />
                        <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="password" />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }

                        ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> ¡Regístrate!</a>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <footer>
        <p style="color: white;">Diseñado por MEDCITA Manager - 2024</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>