@model proyectoFinal.Models.Entidades.Doctores
@{
    ViewData["Title"] = "CrearDoctor";
    Layout = null;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Crear Doctor</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Crear" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label">Cedula</label>
                    <input class="form-control" type="text" asp-for="Cedula" required />
                    <span asp-validation-for="Cedula" class="field-validation-error"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input class="form-control" type="text" asp-for="Telefono" required />
                    <span asp-validation-for="Telefono" class="field-validation-error"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Dirección</label>
                    <input class="form-control" type="text" asp-for="Direccion" required />
                    <span asp-validation-for="Direccion" class="field-validation-error"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Título</label>
                    <input class="form-control" type="text" asp-for="Titulo" required />
                    <span asp-validation-for="Titulo" class="field-validation-error"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <select asp-for="UsuarioId" asp-items="@(new SelectList(Model.Usuario, "Value", "Text"))" class="form-control" required>
                        <option value="">Seleccione un usuario</option>
                    </select>
                    <span asp-validation-for="UsuarioId" class="field-validation-error"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Especialidad</label>
                    <select asp-for="Especialidadid" asp-items="@(new SelectList(Model.Especialidad, "Value", "Text"))" class="form-control" required>
                        <option value="">Seleccione una especialidad</option>
                    </select>
                    <span asp-validation-for="Especialidadid" class="field-validation-error"></span>
                </div>

                <div class="card-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
